APP_NAME="Regent Airways"
APP_ENV=local
APP_KEY=ab5b3fc07ab3ef03b46fa1606ee82fd0
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=flyregent_dummy
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=

ADMIN_NOTIFICATION_EMAILS="shadhin@stsbd.com,admin2@stsbd.com"

FILESYSTEM_DRIVER=public

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=


SSL_COMMERZ_URL=
SSL_COMMERZ_STORE_ID=
SSL_COMMERZ_STORE_PASSWORD=